*{
  margin: 0px;
  padding: 0px;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  text-decoration: overline;
}
.video video {
  width: 100%;
}
.video {
  position: relative;
  text-align: center;
  display: flex;
}
.videoContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
}
