*{
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #000000;
}
/*
Top Section
*/
.topsection {
  color: white;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  position: absolute;
  top:35%;
  left: 15%;
}
.topsection h1 {
  display: inline;
  text-transform: lowercase;
  font-size: 50px;
}
.topsection p {
  display: block;
  font-size: 30px;
  margin-top: 10px;
}
.topsection .seperator {
  position: absolute;
  height: 2px;
  width: 20%;
  background-color:white;
}
/*
Font Size for Different Screens
*/
@media (max-width: 576px) {
  .topsection h1 {
    font-size: 40px;
  }
  .topsection p {
    font-size: 20px;
  }
}
