body {
  background-color: #000000;
}
.navbar {
  width:100%;
  display: inline-flex;
  background-color: #1E1E1E;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  align-items: center;
  cursor: default;
  height: 80px;
}
.navbar ul {
  margin-left: auto;
  margin: 0px;
}
.navbar a {
  text-decoration: none;
  color: #C9BFBF;
  padding: 0px 5px;
}
.navbar a:hover {
  color:white;
}
#logo {
  color: #FFFFFF;
  padding: 0px;
  margin: 0px;
  margin-left: 8px;
  font-size: 25px;
}
#selected {
  cursor:default;
  color: #DAA520;
  padding: 4px 2px;
  border-bottom: 2px solid #DAA520;
}
#selected:hover {
  color: #DAA520;
}
/*
If the screen is to small hide navbar
*/
@media (max-width: 576px) {
  .navbar ul{
    visibility: hidden;
  }
}
