.header {
  flex: 1 1 100%;
  color: white;
  text-align: center;
  margin: 5px;
}
.email {
  text-decoration: underline;
}
.projectsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.projectsContainer .project {
  flex: 1 1 500px;
  background-color: #333333;
  border-radius: 7px;
  padding: 0px;
  margin: 15px;
  color: white;
  display: block;
}
.projectsContainer .project img {
  float: left;
  height: 100px;
  width: 100px;
  margin: 20px;
  margin-bottom: 0px;
  border-radius: 4px;
}
.projectsContainer .project h2 {
  margin-top: 12px;
  margin-bottom: 0px;
  margin-left:10px;
}
.projectsContainer .project p {
  padding: 0px 10px;
}
